.body{
background-color: white;
width: 100%;
}

.tag{
padding-top: 0.5em;
padding-right: 1em;
padding-bottom: 3em;
margin-left: -2.3em;
color: #555;
}

.tagContent{
-moz-box-shadow: inset -1px 2px 7px 0 #9e9c9c;
-webkit-box-shadow: inset -1px 2px 7px 0 #9e9c9c;
box-shadow: inset -1px 2px 7px 0 #9e9c9c;
min-height: 1.3em;
padding-top: 0.5em;
padding-bottom: 0.2em;
padding-right: 1em;
padding-left: 1em;
color: #555;
}

.tagWrapper{
padding-top: 0.5em;
float: left;
width: 100%;
}

#tagRight{
margin-left: 400px;
text-align: right;
line-height: 20px;
}

#tagLeft{
float: left;
width: 400px;
margin-left: -100%;
}

#tagCircleIn, #tagCircleOut{
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  color: white;
  line-height: 25px;
  text-align: center;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  
  -webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s;
  -o-transition-property:width,height,-o-transform,background,font-size,opacity,color;
  -o-transition-duration:1s,1s,1s,1s,1s,1s;
 
  -moz-transition-property:width, height, -moz-transform, background, opacity, color;
  -moz-transition-duration:1s,1s,1s,1s,1s,1s;
 
  transition-property:width,height,transform,background,opacity;
  transition-duration:1s,1s,1s,1s,1s;
  }
  
  #tagCircleIn:hover, #tagCircleOut:hover{
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
  }