/* CSS Document */

/* Joomla-Sytle */
.readmore a {
	padding: 2px 5px 2px 10px;
	display: inline-block;
	margin: 5px;
	text-decoration: none;
	border:1px solid #4F4F4F;
	float: right;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 0.8em;
	color: #0E0E0E;
}
.readmore a:hover 
{
	background-color: #4F4F4F;
	color: #FFF;
	border:1px solid #F7F7F7;
}
.breadcrumps
{
	padding: 2px;
	float: left;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	margin-left: 1%;
	margin-top: 20px;
	margin-bottom: 1em;
	border-bottom: 1px groove;
	max-width: 60%;
	min-width: 60%;
	display: block;
	padding: 10px 10px 10px 10px;
	background-color: #FFF;
}
h2 a, h2 {
	color: #353535;
	font-size: 26px;
	font-weight: normal !important;
	line-height: 30px;
}
p {
	color: #000;
}
img
{
	border: none;	/* IE-Fix */
}

.moduletable, .moduletableaccordion, .moduletablesearch
{
	margin-top: 10px;
	background-color: #FFF;
	padding: 0px 0px 2px 0px;
}
.moduletable p, .moduletableaccordion p, .moduletablesearch p, .moduletable span, .moduletableaccordion span 
{
	padding: 2px;
}
.moduletablesearch {
	background-color: #1E1E1E; /* FIX für MenueRight */
}

.moduletable ul li h4, moduletableaccordion ul li h4{
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.moduletable h3, .moduletableaccordion h3
{
	color: #FFF;
	background-color: #767676;
	padding: 5px;

	background-repeat: no-repeat;
	background-position: 5px 5px;
	font-weight: 100;
}
.moduletable a, .moduletableaccordion a
{
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	padding: 3px;
}
.moduletable ul li, .moduletableaccordion ul li
{
	border-bottom: 1px solid #CCC;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.moduletable ul li ul li a, .moduletableaccordion ul li ul li a
{
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
}
.moduletable ul li span, .moduletableaccordion ul li span
{
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
}

ul, menu, dir {
	list-style-type: circle;
	margin-left: -10px;
}
.search_menu
{
	position: relative;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 20px;
	z-index: 100;
	float: right;
}
a:link,a:visited, .separator {
	color:#767676;
	text-decoration:none;
	border:none;
}



.login_module {
	height: 30px;
	margin-top: 1em;
	margin-right: 1em;
	float: right;
}
div.search input.button
{
	cursor:pointer;
	background: url('../images/ico-search.png') no-repeat #7db9e8 center;
	border: 1px solid #39D;
	color: transparent;
	width: 30px;
	height: 15px;
	
}

div.search input.button:hover {
	background: url('../images/ico-search.png') no-repeat center #1e5799;
	border: 1px solid #2F5BB7;
}
input.signin_submit
{
	color: white;
	text-shadow: 0 -1px 0 #39D;
}
span.separator
{
	padding-right: 10%;
	background: url('../images/tipsy-west.gif') center right no-repeat;
}

/* h1 on frontpage and blog view */

#main .blog-featured h1,
#main .blog h1
{

        margin:0 0px 10px 0px
}


.blog .category-desc
{
        padding:0 5px;
        margin:10px 0 25px
}

.blog .cat-children .category-desc
{
        padding:0 0px;
        margin:10px 0 25px
}

#main .items-row h2
{
        font-weight:normal;
        padding:5px 2px 5px 2px;
        font-size:1.4em
}
#main ul.subcategories
{
        margin:20px 20px 20px 10px
}
#main .subcategories-link
{
        font-weight:bold
}

#main ul
{
        list-style-position:outside;
        padding:0 0 0 25px;
        margin:10px 0 10px 0px;
}

#main ol
{
        padding:0 0 0 20px;
        margin:10px 0 10px 0px;
                list-style-position:outside
}

#main ul li,
#main ol li
{
        padding:0;
        line-height:1.7em;
        margin: 0;
}

#main .category-list
{
        padding:0 5px;
        display:block;
}

#main .category-list h1
{
        margin-left:-5px;
        margin-right:-5px;
}

.categories-list
{
        padding:0 5px
}

#main .categories-list ul
{
        margin:0px 0 0 20px;
        padding:0
}

#main .categories-list ul li
{
        padding: 5px;
}

#main .categories-list ul ul
{
        margin-left:15px
}

.category-desc
{
        line-height:1.7em;
        margin:10px 0;
        padding-left:0px
}

.small
{
        font-size:0.85em;
        margin:0 0 20px;
}

.image-left
{
        float:left;
        margin:0 15px 5px 0;


}

.image-right
{
        float:right;
        margin:0 0 5px 15px
}

.archive
{
        padding:0 5px
}

.archive form
{
        padding:0 5px
}

ul#archive-items
{
        margin:20px 0 20px 0px;
        list-style-type:none;
        padding:0
}

ul#archive-items li.row0,
ul#archive-items li.row1
{
        padding:10px 0;
        margin:10px 0;
}

/* ++++++++++++++  columns  ++++++++++++++ */

.cols-4 .column-1
{
        width:23%;
        float:left
}

.cols-4 .column-2
{
        width:23%;
        margin-left:1%;
        float:left;
}

.cols-4 .column-3
{
        width:23%;
        margin-left:1%;
        float:left
}

.cols-4 .column-4
{
        width:23%;
        margin-left:0;
        float:right
}

/* ++++++++++++++  position  ++++++++++++++ */

.blog-featured
{
        padding: 0;
}

.items-leading
{
        padding:0px 5px 10px 5px;
        overflow:hidden;
        margin-bottom:10px
}

.row-separator
{
        display: block;
        clear: both;
        margin: 0;
        border: 0px;
        height:1px
}

.item-separator
{
        display: none;
        margin: 0px;
}

.shownocolumns
{
        width:98% !important;
}

#top
{
        margin:0 0 20px 0;
        overflow:hidden
}

/* ++++++++++++++  blog  ++++++++++++++ */

.cols-1
{
        display: block;
        float: none !important;
        margin: 0 !important;
}

.cols-2 .column-1
{
        width:46%;
        float:left;
}

.cols-2 .column-2
{
        width:46%;
        float:right;
        margin:0
}

.cols-3 .column-1
{
        float:left;
        width:29%;
        padding:0px 5px;
        margin-right:4%

}
.cols-3 .column-2
{
        float:left;
        width:29%;
        margin-left:0;
        padding:0px 5px
}
.cols-3 .column-3
{
        float:right;
        width:29%;
        padding:0px 5px
}

.items-row
{
        overflow:hidden;
        margin-bottom:10px !important;
}

.column-1,
.column-2,
.column-3
{
        padding:10px 5px
}

.column-2
{
        width:55%;
        margin-left:40%;
}

.column-3
{
        width:30%
}

.blog-more
{
        padding:10px 5px
}

/* ++++++++++++++  details  ++++++++++++++ */

.article-info
{
        margin:10px 0 10px 0px;
        font-size:0.9em;
}

.article-info-term
{
        display:none
}

dt.category-name,
dt.create,
dt.modified,
dt.createdby
{
        float:left;
        padding-right:5px;
}

.archive .article-info dd,
.article-info dd
{
        margin:2px 0 0px 0;
        line-height:1.2em
}

dd.createdby
{

}

.article-info dd span
{
    text-transform:none;
    display:inline-block;
    padding:0 5px 0 0px;
    margin:0 10px 0 0px;
}

/* ++++++++++++++  pagination  ++++++++++++++ */

#main .pagination
{
        margin:10px 0 ;
        padding:10px 0 10px 0px;
        clear:both;

}

#main .pagination ul
{
        list-style-type:none;
        margin:0;
        padding:0;
        text-align:left;
}
#main .pagination li
{
        display:inline;
        padding:2px 5px;
        margin:0 2px;
		background: #F9F9F9;
		height: 22px;
		border: 1px solid #CACACA;
		text-align: center;
		line-height: 24px;
		font-size: 12px;
		font-weight: bold;
		color: #6F6F6F;
		text-shadow: 0 1px white;
}

.pagenav
{
	padding:2px; 
	clear:both;
}

#main .pagination li.pagination-start,
#main .pagination li.pagination-next,
#main .pagination li.pagination-end,
#main .pagination li.pagination-prev
{
	border:0;
}

#main .pagination li.pagination-start ,
#main .pagination li.pagination-start  span
 {
padding:0
}

ul.pagenav
{
	
	list-style-type: none;
}
/* pagenav */
#main ul.pagenav {
	list-style-type:none;
	padding:0;
	overflow:hidden
}
ul.pagenav li
{
	display:inline-block;
	padding:1px;
	margin:0;
	border:solid 0px #cc0000;
	position:relative;
	

}

#main ul.pagenav li
{
	line-height:2em
}

ul.pagenav li a
{
	border:solid 1px #ccc;
	display:inline;
	background:#eee;
	padding:2px;
	text-decoration:none;
}
ul.pagenav li.pagenav-prev
{float:left;
left: 10px;}
ul.pagenav li.pagenav-next
{float:right;
right: 10px;}

/* pagebreak */

#article-index
{
	width:25%;
	float:right;
	border:solid 1px #eee;
	padding:10px;
	margin: 10px 0px 20px 30px;
	background:#f9faf9;
	background: -webkit-gradient(linear,
	  left top, left bottom,
	  color-stop(0, #ebebeb),
	  color-stop(0.17, #fff),
	  color-stop(0.83, #fff),
	  color-stop(0.99, #ebebeb),
	  color-stop(1, #fff));
	background:-moz-radial-gradient(center, #fff, #ebebeb); /* Firefox */
	background:-o-radial-gradient(center, #fff, #ebebeb); /* Opera */
	background:-ms-radial-gradient(center, #fff, #ebebeb);/* IE10 */
	
}
#article-index h3
{
	margin:0;
	font-size:1em;


}

#article-index ul
{
	list-style-type:disc;
	color:#666
}

.pagenavcounter
{
        font-weight:bold;
}

/* ++++++++++++++  icons  ++++++++++++++ */

#main ul.actions
{
        text-align:right;
        padding:0 ;
        width:100%;
        margin:0
}

#main ul.actions li
{
        display:inline
}

#main ul.actions a
{
        text-decoration:none
}

/* ++++++++++++++  items more  ++++++++++++++ */

#main .items-more
{
        padding-top:10px;
}

#main .items-more h3
{
        font-weight:normal;
        margin:0;
        padding:5px 5px 5px 5px;
        font-size:1.4em
}

#main .items-more ol
{
        line-height:1.3em;
        list-style-type:none;
        margin:0;
        padding:10px 0 10px 2px;
}

#main .items-more ol li
{
        padding:2px;
}

#main .items-more ol li a
{
        display:inline;
        margin:0;
        font-weight:normal;
        padding:5px 5px 5px 20px;
}

#main .items-more ol li a:hover,
#main .items-more ol li a:active,
#main .items-more ol li a:focus
{
        font-weight:normal;
        padding:5px 5px 5px 20px;
        text-decoration:none
}


/* ++++++++++++++  search results  ++++++++++++++++++ */

dl.search-results
{

}

dl.search-results dt.result-title
{
        padding:15px 15px 0px 5px;
        font-weight:bold;
}

dl.search-results dd
{
        padding:2px 15px 2px 5px
}

dl.search-results dd.result-text
{
        padding:10px 15px 10px 5px;
        line-height:1.7em
}

dl.search-results dd.result-url
{
        font-size:90%;
        padding:2px 15px 15px 5px;
}

dl.search-results dd.result-created
{
        padding:2px 15px 15px 5px
}

dl.search-results dd.result-category
{
	 padding:10px 15px 5px 5px
}
/* Fix for Search on top */

div.MenueRight div.moduletable div.search {
	display: block;
	float: right;
	margin: auto;
}

/* ++++++++++++++  customised arrows  ++++++++++++++++++ */

.smallarrow-right{
display: inline-block;
height: 0;
width: 0;
border-top: 5px solid transparent;
border-bottom: 5px solid transparent;
border-left: 5px solid black;
}

.smallarrow-left{
display: inline-block;
height: 0;
width: 0;
border-top: 5px solid transparent;
border-bottom: 5px solid transparent;
border-right: 5px solid black;
}

.smallarrow-top{
display: inline-block;
height: 0;
width: 0;
border-right: 7px solid transparent;
border-left: 7px solid transparent;
border-bottom: 7px solid white;

}

.smallarrow-bottom{
display: inline-block;
height: 0;
width: 0;
border-right: 5px solid transparent;
border-left: 5px solid transparent;
margin-left: 7px;
}

