/* Style by Blechdose. */
/*  Scrolling  */
.scrolling {
	position: absolute;
	left: 50%;
	margin-bottom: 5px;
	width: 30px;
	height: 5px;
	background: url(../images/footer_anchor.png) 0 0 no-repeat;
}