/* CSS Document */
/* Shadows */


/* 10px Schatten: */
.MenueRight, .MainHeading, #header ul li ul, div.Content #main img,
.moduletable, .moduletableaccordion, .moduletablesearch, .moduletable h3, .moduletableaccordion h3,
#article-index, #signin_menu, .breadcrumps
{
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
}
/* Fix für Menu-Icons */
div.Content #main ul li a img {
	-moz-box-shadow: 0 0 0px #000;
	-webkit-box-shadow: 0 0 0px #000;
	box-shadow: 0 0 0px #000;
}
/* 20px Schatten: */
.MainContent, .RightPicture, #topnav a.signin 
{
	-moz-box-shadow: 0 0 20px #000;
	-webkit-box-shadow: 0 0 20px #000;
	box-shadow: 0 0 20px #000;
}

/* 5px und 10px Schatten: */
.MainMenue
{
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow: 0 5px 10px #000;
}

/* 30px Schatten: */
.Content, .Content_ext_right, .LeftPicture
{
	-moz-box-shadow: 0 0 30px #000;
	-webkit-box-shadow: 0 0 30px #000;
	box-shadow: 0 0 30px #000;
}


.readmore a 
{
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}

ul.pagenav li a
{
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}

#fontsize
{
	-webkit-box-shadow: 0 -12px 30px #000000; /* webkit browser*/ 
	-moz-box-shadow: 0 -12px 30px #000000; /* firefox */ 
	box-shadow: 0 -12px 30px #000000;
}

#main .pagination li
{
	box-shadow: inset 0 1px 2px white,0px 2px 2px rgba(0, 0, 0, 0.12);
}
	
