/* CSS Document */
/* Allgemeines Layout */

#topnav {
	font-size:12px;
	text-align:right;
}
#topnav a.signin {
	text-decoration:none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background: #FFF;
	margin: 10px;
	padding: 5px;
	z-index: 10000;
}

a.signin {
	position:relative;
	margin-left:3px;
}
a.signin span {
	background-position:100% 50%;
}
#topnav a.menu-open {
	background:#ddeef6!important;
	color:#FFF!important;
	outline:none;
}
#small_signup {
	display:inline;
	float:right;
	line-height:23px;
	margin:25px 0 0;
	width:170px;
}

#signin_menu {
	display:none;
	background-color:#FFF;
	position:absolute;
	width:220px;
	z-index:900;
	border:1px transparent;
	right: 10px; 
	margin-top:15px;
	margin-right: 0px;
	color:#000;
	font-weight: bold;
	font-size:12px;
}

#signin_menu input {
	display:block;
	font-size:13px;
	margin:0 0 5px;
	width:100%;
}
#signin_menu p {
	margin:0;
}

#signin_menu label {
	font-weight:normal;
}
#signin_menu p.remember {
	padding:10px 0;
}
#signin_menu p.forgot, #signin_menu p.complete {
	clear:both;
	margin:5px 0;
}
#signin_menu p a {
	color:#27B!important;
}
#signin_submit {
	background:#39d url('../images/bg-btn-blue.png') repeat-x scroll 0 0;
	border:1px solid #39D;
	color:#fff;
	text-shadow:0 -1px 0 #39d;
	padding:4px 10px 5px;
	font-size:12px;
	margin:0 5px 0 0;
	font-weight:bold;
}

#signin_submit:hover, #signin_submit:focus {
	background-position:0 -5px;
	cursor:pointer;
}
ul.accordion
{
	background: none;
	display:none;
}